# Every change to Knack needs a review from the maintainer.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @yigitbozyaka
